<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSB_SERVER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <runtime>
      <legacyUnhandledExceptionPolicy enabled="1" />
    </runtime>
    <userSettings>
        <MSB_SERVER.Properties.Settings>
            <setting name="SERVER_IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="SERVER_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SERVER_KEY" serializeAs="String">
                <value/>
            </setting>
        </MSB_SERVER.Properties.Settings>
    </userSettings>
</configuration>
