<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net46" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net46" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net46" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net46" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net46" />
</packages>